@import "./variables.scss";

.player-viewport{
    z-index: 4000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.p-viewport-collapsed{
    height: 78px;
    background: $content;
    .state-collapsed{
        visibility: visible;
        opacity: 1;
    }
    .state-expanded{
        visibility: hidden;
        opacity: 0;
        height: 0px;
    }
}
.p-viewport-expanded{
    height: 100%;
    .state-collapsed{
        visibility: hidden;
        opacity: 0;
        height: 0px;
    }
    .state-expanded{
        visibility: visible;
        opacity: 1;
    }
}
.state-expanded{
    transition: all .3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.player-wrapper{
    cursor: pointer;

    position: relative;
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    height: 100%;

    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    border-image: linear-gradient(to right, $red, $yellow, $green, $purple);
    border-image-slice: 1;

    &::after{
        content: "";
        position: absolute;
        background: rgba(54, 57, 62, 0.5);
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        transition: all .4s ease-in-out;
        z-index: -2;
    }
    &:hover{
        &::after{
            width: 100%;
        }
    }
}
.p-container{
    width: 100%;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
#p-data{
    display: flex;
    align-items: center;
    flex: 1;
}
#p-thumb{
    margin-right: 12px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}
#p-title, #p-description{
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#p-title{
    color: $color;
}
#p-description{
    color: $color-light;
}
.p-vol-wrapper{
    width: 100%;
    max-width: 950px;
}
#p-wave-wrapper{
    position: absolute;

    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    height: 100%;

    width: 100%;

    z-index: -1;

    & .p-single-wave{
        background: rgba(66, 69, 73, 0.5);
    }
}
#p-wave-container{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.p-single-wave{
    width: 16px;
    margin: 0 4px;
    transition: all .1s ease-in-out;
}

// ============== EXPANDED STATE ================

#p-expanded-wave-wrapper{
    transition: all .4s ease-in-out;
    width: 100%;
    height: 350px;
    position: fixed;
    bottom: 0;
    z-index: -1;

    & .p-single-wave{
        background: rgba(66, 69, 73, 0.2);
    }
}
.p-expanded-top-bar-wrapper{
    width: 100%;
    background: $content;

    display: flex;
    justify-content: center;
}
.p-expanded-top-bar-container{
    padding: 8px 1.5rem;
    width: 100%;
    height: 100%;
    max-width: 950px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-expanded-body{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-expanded-data{
    flex: 1;
}
.p-expanded-controls{
}
// ==============  MATERIAL DESIGN ================

.mdc-icon-button{
    color: $color;
}

@media screen and (max-width: 558px){
    #p-random{
        display: none;
    }
}
@media screen and (max-width: 510px){
    #p-loop{
        display: none;
    }
}
@media screen and (max-width: 468px){
    #p-title, #p-description{
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 398px){
    #p-thumb{
        display: none;
    }
    .p-viewport-collapsed{
        height: 76px;
    }
}
