@use "material-components-web/material-components-web";

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Oxanium', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar { 
  display: none; 
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}
