@import "./player.scss";
@import "./layout.scss";
@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Oxanium', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar { 
  display: none; 
}
#content{
  padding: 3rem;
  width: 600px;
}
html, body{
  width: 100%;
  background: $background;
  overscroll-behavior-y: contain;
}
.mdc-top-app-bar{
  background: $content;
}
img{
  user-select: none;
  pointer-events: none;
}
