* {
  font-family: "Hoefler", cursive;
  letter-spacing: 4px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $background;
  color: #fff;
  line-height: 1.5;
}

ul {
  list-style: none;
}
